.layout {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 800px;
}
.container {
  align-items: center;
  border: 1px solid #ddd;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0 20px;
}
.button {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  height: 40px;
  width: 50%;
}
